/.vs
/Cisco Packet Tracer.lnk
/Collage fee.pdf
/desktop.ini
/Dev-C++.lnk
/Discord.lnk
/Gta.html
/Hacking- The Art of Exploitation (2nd ed. 2008) - Erickson.pdf
/Kards10
/Logo
/MongoDB1.pdf
/pp.jpg
/profile-pic.jpg
/RESUME3.pdf
/RESUME_Updated3.pdf
/SAB_Tool_Windows_Whitelabel_141228
/~$Ed.docx
/~$SUME_Updated3.pdf